*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  /* padding: 0 1.5rem; */
}

.nav_bar {
  position: sticky;
  top: 0;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  height: 4rem;
}

.nav_logo {
  color: #ffffff;
  font-size: 2rem;
}

.nav_link_list {
  width: 100%;
  padding: 1.5rem;
  position: fixed;
  top: 4rem;
  right: 0;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateX(100vw);
  transition: transform 0.4s ease-in-out;
}

.nav_link {
  font-size: 1rem;
  text-decoration: none;
  color: #cacaca;
}

.nav_btn {
  background-color: transparent;
  margin-right: 0.5rem;
  border: none;
  padding: 0;
}

.open.nav_link_list {
  transform: translateX(0vw);
}

.line_menu {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffffff;
  stroke-width: 4.5;
  stroke-linecap: round;
}

.open.line_rotate {
  transform: rotate(45deg);
}
.open.line_rotate180 {
  transform: rotate(180deg);
}

.lines .top {
  stroke-dasharray: 40 121;
}
.lines .bottom {
  stroke-dasharray: 40 121;
}
.open.lines .top {
  stroke-dashoffset: -68px;
}
.open.lines .bottom {
  stroke-dashoffset: -68px;
}

.section {
  background-color: #dadada;
  height: 100vh;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .nav_bar {
    padding-left: 0rem;
    padding: 0 4rem;
  }
  .nav_link_list {
    position: static;
    width: auto;
    transform: translateX(0vw);
    flex-direction: row;
    padding: 0;
  }

  .nav_btn {
    display: none;
  }
}
